* {
  margin: 0;
  padding: 0;
}
label {
  font-size: larger;
  margin: 5px;
}
h1 {
  color: rgb(0, 110, 255);
  display: flex;
  justify-content: center;
  margin: 2%;
}
.input {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
.add-admin-button {
  border-radius: 10px;
  background-color: #008cba;
  font-size: 20px;
  padding: 2px;
  color: white;
  opacity: 0.8;
}
.add-admin-button:hover {
  opacity: 1;
}
.admin-data {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  background-color: #696969;
  width: 90%;
  border-radius: 10px;
  padding: 5px;
}
span {
  font-size: x-large;
  color: white;
}
.admin-data button {
  border-radius: 10px;
  background-color: #ba0000;
  font-size: 20px;
  padding: 8px;
  color: white;
  opacity: 0.8;
}
.admin-data button:hover {
  opacity: 1;
}
.adminbuttons{
  border-radius: 10px;
  margin: 10px;
  background-color: #008cba;
  font-size: 20px;
  padding: 2px;
  color: white;
  opacity: 0.8;
  width: 20%;
}
@media only screen and (max-width: 800px) {
  .admin-data {
    flex-direction: column;
  }
}
